<div class="content-area-compact">
        <div align="center">
            <h2 class="page-title">History of Programming Paradigm</h2>
            <h4 class="sub-heading">Peek at Gradual Change</h4>
            <img class="round-corner" src="images/research/Programming.jpeg" alt="">
            <div class="picture-credits-dark">Created by Freepik - www.freepik.com</div>
        </div>
        <p class="justified-content">
            <i style="font-size: medium;">
                <b>Disclaimer :</b> The content of this blog are my views, observations and understanding about the topic. I do not intend to undermine anything. I am simply giving my perspective about it. This will help you to look at the topic from a different angle.
            </i>
        </p>

        <p class="justified-content">
            Languages have evolved based on need of the market or problems which we are trying to solve. Selecting a proper 
            language is important for a particular problem statement be it <span class="text-enhancer">Java, C, Scala, Groovy</span> etc. Each language has its
             importance. Languages are grouped at top level by programming <span class="text-enhancer">paradigms</span> which are <span class="text-enhancer">Procedural, Object Oriented </span>
             and <span class="text-enhancer">Functional</span>.
        </p>

        <p class="justified-content">
            The paradigm shift is driven by the industry needs. During <span class="text-enhancer">industrialization</span> there was a need of fast 
            manufacturing to satisfy the demands. Human beings cannot work <span class="text-enhancer">24/7</span> and there are <span class="text-enhancer">laws of wages, insurance,</span> 
            etc. Hence companies wanted to automate manufacturing. The manufacturing <span class="text-enhancer">process automation</span> was done using 
            <span class="text-enhancer">procedural languages</span>. Hence in those days procedural languages were popular like <span class="text-enhancer">C</span>. In process automation 
            whatever is the manual process needs to be automated as is.
        </p>

        <p class="justified-content">
            Next the <span class="text-enhancer">complexities increased</span> and there was a need to write software in more <span class="text-enhancer">modular</span> way. Humans understand 
            things by differentiation and categorization. Naming things is taught to us since childhood. Solving complex 
            problems need a <span class="text-enhancer">divide and conquer</span> approach. <span class="text-enhancer">To solve any problem we need to first understand it</span>. For example
             we need to create a store locator to find the nearby stores based on my location which are open and contain 
             the product that I want urgently. In team meetings we discuss about store, customer, product etc. We understand 
             the requirement and define an algorithm. The important part is to <span class="text-enhancer">write code so that we can map our 
            understanding as is</span>. In huge projects or in maintenance stage, a year later when we look at the same code which 
             we developed it appears alien to us. For quickly understanding the algorithm the code should be able to reflect 
             the store,product and customer entities and their behaviours, so that we can correlate easily. In this Object 
             Oriented paradigm, object oriented languages like <span class="text-enhancer">JAVA, C++</span> are helpful.
        </p>

        <p class="justified-content">
            Software is everywhere and <span class="text-enhancer">collecting data & processing</span> then sending it to the customer. Just like the store 
            locator we discussed. Companies then thought that what next can I sell to customer and how can I give them more 
            <span class="text-enhancer">personalized experience</span>. Data insights will help us in this. Understanding the huge data is now delegated to 
            machines again. Most of the aspects of machine learning is based on <span class="text-enhancer">Mathematics</span>. For example during daily 
            commute from home to office, start time and time on destination is recorded along with the route taken. We 
            need to suggested the customer probable time to office based on traffic on the road. All these things require 
            <span class="text-enhancer">data analysis, curve fitting</span> and <span class="text-enhancer">correlation techniques</span> of mathematics. In this case we get the solution in 
            terms of mathematical formula. In mathematics complex formulas are based on basic formulas. Hence this mapping 
            can be best done in functional way. Mathematical formulas are like functions once defined and give it the same 
            data again and again the output should be the same. <span class="text-enhancer">Ex : c^2 = a^2 + b^2 (Pythagoras theorem)</span>. If I write a 
            functional code which takes 'a' and 'b' as argument and returns 'c'. I run with values of 'a' = 3 and 'b' = 4 
            then it should always return 'c' = 25. Hence in today's market which in influenced by Functional paradigm 
            functional languages like <span class="text-enhancer">Scala</span> are popular.
        </p>

        <p class="justified-content">
            <span class="text-enhancer">This shift is continuous</span> and we need to understand that all languages have their defined use cases,pros and cons.
             Hence right choice of language is necessary for the problem you are trying to solve. With due respect to other 
             programming languages, I personally like <span class="text-enhancer">JAVA</span> which is declarative and my code speaks for itself. But I tend to 
             learn other languages so that I can be in a position to choose which language is best suite for my current 
             problem. I believe in language unification as in for creating the best software each responsibility should be 
             delegated to correct language. We should design a software which is hybrid like object modelling and business 
             logic should be in object oriented languages, data processing rules and logic in functional language and process
              automation in procedural language
        </p>
        
        <div align="center">
            <img class="round-corner" src="images/design-pattern-is-fish/KeepThinking.jpeg" alt="">
            <h3>KEEP THINKING !</h3>
        </div>
    
    </div>
    