<div class="content-area" layout="row" >
  <div flex="100" class="justified-content" layout-align="center center">
    <p>
    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I am <span class="text-enhancer">Passionate Software Developer</span>
      who likes to <span class="text-enhancer">Design Best Software.</span> I am an
      <span class="text-enhancer">Agile Full Stack Developer</span> because I believe that unless we know end
      to end picture of a software we are not able to design good solution for any business problem. I am a
      <span class="text-enhancer">Painter</span> and I channelize my artistic skills into every walks of my
        Life and Software Development is one of them.
    </p>
    <p>
    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I believe in finding best solution for the problem statement.
      Designing with utmost care to ensure that we don't compromise <span class="text-enhancer">Quality</span>,
      <span class="text-enhancer">Agility</span> and <span class="text-enhancer">Maintainability</span>.
      Quality creates <span class="text-enhancer">Brand Value</span>, Agility gives Team
      <span class="text-enhancer">Speed</span> to deliver a change or enhancement and Maintainability is
      always crucial since it has <span class="text-enhancer">80%</span> of the software lifecycle share.
    </p>
  </div>
</div>
