<h4>Introduction</h4>
<div layout="row">
  <div layout="column" flex="50" class="home-content">
    <p>
    Therotical knowledge is good to speak about but unless you could do some practical
    you are nothing but a chatter-box. Similarly knowing what to do is good but not
    knowing the philosophy behind it makes us nothing but humanoids. We all know how
    to solve a particular problem but not exploring other ways to solve same problem
    will make us narrow minded.
    </p>
    <p>
      Considering all these factors I will help you in improving your software knowledge
      practically and broadening your problem solving ability. Applied Technology aims
      at making you more practical and being prepared for next gen problems.
    </p>
  </div>
  <div flex-offset="10">
    <img src="images/brainstorming.jpg" width="100%" alt="Applied Technology">
    <br/>
    <span class="picture-credits">Created by Makyzz - Freepik.com</span>
  </div>
</div>
