<div class="content-area">
  <div layout="row" layout-xs="column">
    <div flex="70" class="justified-content">
      <h3 class="page-subtitle">Introduction</h3>
      <p>
      Therotical knowledge is good to speak about but unless you could do some <span class="text-enhancer">practical</span>
      you are nothing but a chatter-box. Similarly knowing what to do is good but not
      knowing the <span class="text-enhancer">philosophy</span>  behind it makes us nothing but humanoids. We all know how
      to solve a particular problem but not exploring other ways to solve same problem
      will make us narrow minded.
      </p>
      <p>
        Considering all these factors I will help you in improving your software knowledge
        practically and broadening your problem solving ability. Applied Technology aims
        at making you more practical and being prepared for next gen problems.
      </p>
    </div>
    <div flex align="right">
      <img src="images/Ninja.png" width="92%" alt="Applied Technology">
      <br/>
    </div>
  </div>
</div>
