<div class="content-area">
    <h2 class="page-title">Let Code Do The Talking - Domain Modelling</h2>
    <h3 class="page-subtitle">Introduction</h3>
    <p class="justified-content">
      Lets design a <span class="text-enhancer">Parking Lot</span>. Consider that
      there is a <span class="text-enhancer">multi-level</span> parking lot of a building which houses <span class="text-enhancer">multiple companies</span>.
      The parkings are available for <span class="text-enhancer">Cars</span> and <span class="text-enhancer">Bikes</span>. Lets understand the requirement
      and design it simultaneously as an Agile Development Methodology using stories.
    </p>

    <div layout="row">
      <div class="story-container" md-whiteframe="10" flex="40">
        <h4 class="story-title">Story One : Basic Parking Lot</h4>
        <p class="justified-text">
          Parking Lot has multiple levels. Some levels are reserved for Bike parkings
          and some for Car parking.
        </p>
        <div class="story-explaination">
          <h4 class="story-explaination-title">Explaination</h4>
          <ol>
            <li>
              <span class="text-enhancer">Entities Identification :</span> Here I could identify entities
              ParkingLot,Parking and Level.
            </li>
            <li>
              <span class="text-enhancer">Relationship Derivation :</span> A parking lot has multiple levels. Clearly
              its a has a Relationship.
            </li>
            <li>
              <span class="text-enhancer">Applying Constraints :</span> How would you model the constraint that some
              levels are reserved for Bike parking and some for Car parking ?
            </li>
          </ol>
        </div>
      </div>
      <div flex-offset="5" flex="50">
          <img md-whiteframe="20" src="images/let-code-do-the-talking/object-modelling/ParkingLot.png" alt="ParkingLot">
          <img md-whiteframe="20" src="images/let-code-do-the-talking/object-modelling/Parking.png" alt="Parking">
          <img md-whiteframe="20" src="images/let-code-do-the-talking/object-modelling/Level.png" alt="Level">
      </div>
    </div>

    <div class="text-enhancer">
      <h1 style="color:#2b387c">To be continued !</h1>
    </div>

</div>
