<div class="content-area">
    <h2 class="page-title">Let Code Do The Talking</h2>
    <h3 class="page-subtitle">Introduction</h3>
    <p class="justified-content">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I am great fan of <span class="text-enhancer">JAVA</span> programming language.
      I find <b>JAVA</b> as the only suitable language which vividly reveals the intentions
      of a developer. Being a statically typed language we get early feedback on
      most of the bugs during compilation phase. Most of the times I have seen that
      business rules and use cases are not properly coded by the developer hence
      looking at the code we could not deduce the actual business case. I always believe
      <b>"Let Code Do The Talking"</b>. If we write a good code then we need not
      document anything separately.
    </p>
    <p>
      Below are some of the use cases to better understand <span class="text-enhancer">How to Let Code Do the
        Talking ?</span>
    </p>
    <div layout="row" class="content-area">
      <md-card ng-repeat="case in useCases" ng-click="loadPage(case.route)" flex="23" md-theme="default"
          md-theme-watch>
        <md-card-title layout="column">
          <md-card-title-text>
              <span class="md-headline">{{case.name}}</span>
              <span class="md-subhead">{{case.subHeading}}</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-lg card-media">
              <img width="100%" ng-src="images/{{case.imageName}}" alt="{{case.altText}}">
            </div>
            <span class="picture-credits" style="color:{{case.imageCreditColor}}">{{case.imageCredits}}</span>
          </md-card-title-media>
        </md-card-title>
      </md-card>
    </div>
</div>
