<div style="margin-left: 4%">
  <h2>Code Home</h2>
  <p>
    I like to write code. I also like making my as well as other's life easy by writing reusable code. Code reusability reduces the redundancy and allows us to treat software
    as Lego Blocks. We don't create a new block always but we tend to use some blocks and create something really innovative through our imagination. In this section you
    will find my work related to reusable code. I clubbed them into various groups as : Libraries, Framework and Products
  </p>
  <ul>
    <li>
      <b>Libraries :</b> Libraries are collection of reusable code which tries to solve some use case. Its a way of code sharing while giving control to the developer.
    </li>
    <li>
      <b>Frameworks :</b> Frameworks are the ones which contain some skeleton code which we have a provision to extend or configure. It does not give complete control
      to developer but is good for quickly using the code by following the conventions or configuration options mentioned in it.
    </li>
    <li>
      <b>Products :</b> I created some Products which solved real life problems which I witnessed. In this section you will find them which you can use.
    </li>
  </ul>
</div>

<div class="gridListdemoBasicUsage" ng-cloak>
  <md-grid-list md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6" md-row-height-gt-md="1:1" md-row-height="2:2" md-gutter="12px" md-gutter-gt-sm="8px">

    <md-grid-tile class="gray" md-rowspan="3" md-colspan="2" md-colspan-sm="1" md-colspan-xs="1">
      <md-grid-tile-header>
        <h3>
          <a style="text-decoration: none;font-size: larger;color: #e2e2e2;" href="https://github.com/anandbmuley/authenticator">Authenticator</a>
        </h3>
      </md-grid-tile-header>
      <div style="padding: 5%;color: #e2e2e2;">
        Have you wondered if we could somehow get a code for a specific use case.
        A typical example is that of authentication & authorization. We could use it as is with minimal configuration
        and not re-inventing wheel. Software industry promotes re-usability but when we look for re-usability we hardly
        find code for specific use case. I like to create simple libraries which serve this purpose. Authenticator is for
        only adding authentication and authorization layer into your spring app. Its a library which integrates with Mongo DB
        as the backend for storing credentials. It provides APIs for registration, login and generating access token having
        certain configurable validity. All you have to do is add this as a dependency into your project
      </div>

    </md-grid-tile>

    <md-grid-tile class="green">
      <md-grid-tile-header>
        <h3>
          <a style="text-decoration: none;font-size: larger;color: #5c8e6a;" href="https://github.com/anandbmuley/rest-integ">REST API Integration Testing</a>
        </h3>
      </md-grid-tile-header>
      <div style="padding: 5%;color: #5c8e6a;">
        A Declarative approach to testing your REST APIs.
      </div>
    </md-grid-tile>

    <md-grid-tile class="yellow">
      <md-grid-tile-footer>
        <h3>
          <a style="text-decoration: none;font-size: larger;color: white;" href="https://github.com/anandbmuley/QuickDoc">QuickDoc</a>
        </h3>
      </md-grid-tile-footer>
      <div style="padding: 5%;padding-bottom: 20%;color: #887f47;">
        QuickDoc is a notes taking application which provides an option of tagging notes.
      </div>
    </md-grid-tile>

    <md-grid-tile class="blue" md-rowspan="2">
      <md-grid-tile-footer>
        <h3>
          <a style="text-decoration: none;font-size: larger;color: white;" href="https://github.com/anandbmuley/PairingStories">PairingStories</a>
        </h3>
      </md-grid-tile-footer>
      <div style="padding: 5%;padding-bottom: 20%;color: #4b999a;">
        An application for pairing stories management. It ensures that pairing stories are digitized and saves paper.
      </div>
    </md-grid-tile>

    <md-grid-tile class="red" md-rowspan="2" md-colspan="2" md-colspan-sm="1" md-colspan-xs="1">
      <md-grid-tile-footer>
        <h3>
          <a style="text-decoration: none;font-size: larger;color: white;" href="https://github.com/anandbmuley/MeetingRoomBooking">Meeting Room Booking Application (MEROBO)</a>
        </h3>
      </md-grid-tile-footer>
      <div style="padding: 5%;color: #803933;">
        A product to manage meeting room booking. It helps in automating the clash detection, queuing requests,prioritizing meetings,etc.
      </div>
    </md-grid-tile>

    <md-grid-tile class="green" md-rowspan="2">
      <md-grid-tile-footer>
        <h3>COMING SOON</h3>
      </md-grid-tile-footer>
      <div style="padding: 5%;color: #668c71;">
        Something new is coming soon...
      </div>
    </md-grid-tile>

  </md-grid-list>
</div>