<div class="content-area-compact">
    <div align="center">
        <h2 class="page-title">Charity at Workplace</h2>
        <h4 class="sub-heading">Help and forget that you helped</h4>
        <img class="round-corner blog-image" src="images/general/Charity.jpeg" alt="">
        <!-- <div class="picture-credits-dark">Created by Freepik - www.freepik.com</div> -->
    </div>
    <p class="justified-content">
        <i style="font-size: medium;">
            <b>Disclaimer :</b> The content of this article is purely logical analysis of mine and may or may not
            contain
            any factual data for it. Logically based on my understanding of things.
        </i>
    </p>

    <p class="justified-content">
        The dictionary meaning of charity is “The voluntary giving of help, typically in the form of money, to those in
        need”. Please note that its <span class="text-enhancer">typically in the form of money</span>. We may say that
        typically its in the form of basic
        needs like food and clothing as well. I was pondering over the first and the most important sentence
        “voluntarily
        giving of help” and how this is unknowingly done in our life daily. I came up with the understanding that needy
        can
        be anyone at any level. A person who is self sufficient with basic needs might be a needy is some other aspect.
    </p>

    <p class="justified-content">
        I broadly classify charity as : <span class="text-enhancer">Basic</span> and <span class="text-enhancer">Self
            Sufficient</span>. Aforementioned Basic charity is what we usually do and
        are aware of. Self Sufficient charity is about helping someone who is self sufficient with respect to basic
        needs
        and is need in some other aspect. Another aspect in charity is the <span class="text-enhancer">needy</span>.
        I would say that everyone is needy in some way or the other. A fresher who joined the job recently might be a
        needy
        who needs help in using his learnt skills or acquiring news skills. Needy can be classified as : <span
            class="text-enhancer">One who wants to
            be independent</span> and other <span class="text-enhancer">who wants to be dependent</span>. Consider a
        scenario that new team members were on-boarded and
        they need help in understanding the latest technology. Some team members get the initial kick-off from the
        seniors
        and then learn on their own are the ones who want to be independent and the ones who learnt only what was told
        by
        their seniors and did not learn other aspects of technology then they are always dependent on their seniors.
    </p>

    <p class="justified-content">
        Look around, everyone is needy in some way or the other. We are simply focusing on only one level of the need.
        Hence overall we empathise those set of people. Hence if you find a person is need of some help and you somehow
        empathise that person then don't forget to help. Few people do it for some corporate social responsibility and
        some do it out of empathy. Now that we have understood all these things, I would suggest that we need not always
        give away money, food or clothing as charity. Consider a fact that a person who is working in IT industry and
        knows about software development. He can create tools for others who need it and give it away for free. Its a
        charity because the person who needs the tool cannot afford and ( or ) make it and you have used user time and
        skill not against any favour or monetary benefit.
    </p>

    <div align="center">
        <h3>Think it over !</h3>
    </div>

</div>