<div class="content-area-compact">
    <div align="center">
        <h2 class="page-title">Content Duplication on Internet</h2>
        <h4 class="sub-heading">Save E-Resources</h4>
        <img class="round-corner blog-image" src="images/general/SaveEResources.jpeg" alt="">
    </div>
    <p class="justified-content">
        <i style="font-size: medium;">
            <b>Disclaimer :</b> The content of this blog are my views, observations and understanding about the topic. I
            do not intend to undermine anything. I am simply giving my perspective about it. This will help you to look
            at the topic from a different angle.
        </i>
    </p>

    <p class="justified-content">
        Today I was searching something on YouTube and my curiosity pointed me to something strange which we overlook
        many times - Content duplication. I am talking about the content duplication over the internet. You search for
        something on Google and you will get many search results showing content duplication. For instance search for
        "Hello World in Java" on Google and observe the result. There are many websites explaining the concept.
    </p>

    <p class="justified-content">
        Many websites today publish the similar content to explain same concept in different words just to avoid
        copyright issues. Its good with respect to the end user since all of us cannot understand things explained in
        some way. Some of us understand things when explained differently. The problem starts when those different ways
        are copied and pasted. As far as we are adding value by explaining same thing differently its good but not
        simply copying things.
    </p>

    <div align="center" style="margin-right: 20%;margin-left: 20%;" class="text-enhancer">
        Is content duplication causing depletion of natural resources ? Be it resources required for manufacturing the
        storage devices or computing devices.
    </div>

    <p class="justified-content">
        On the contrary we could be more creative and innovative in publishing the content. Creativity should be used in
        publishing the content which is not available on the internet or the content which adds value. Internet should
        be treated as the source for sharing the content which is not known to others, instead of duplicating the
        content.
    </p>

    <div align="center">
        <h3>Think it over !</h3>
    </div>

</div>