<div class="content-area">
    <div align="center">
        <h2 class="page-title">Hiding badly Designed Micro-Service</h2>
        <h4 class="sub-heading">Worst reality of MicroServices</h4>
        <img class="round-corner blog-image" src="images/java/OldWoodenHouse.jpg" alt="">
        <div class="picture-credits-dark">Background vector created by freepik - www.freepik.com</div>
    </div>
    <div style="font-style: italic;width: 80%;text-justify: auto;margin-left: 10%;text-align: center;">
        Disclaimer : The content of this blog are my views and understanding of the topic. I do not intend to demean
        anything or anyone. I am only trying to share my views on the topic so that you will get a different thought
        process and angle to look at this topic.
    </div>
    <h3 class="page-subtitle">Introduction</h3>
    <p class="justified-content">
        Micro Services Architectural style is popular now-a-days just like the AGILE Methodology but both are being
        misused. Consuming a well designed Micro-Service is easy but when you get to work on consuming some badly
        designed Micro-Service then things start getting interesting. Micro-Service and RESTful web services were here
        to solve certain problems but with every solution a new problem creeps in. If we ignore this problem soon you
        Micro-Service will have all the Design Issues due to the ripple effect of the downstream services. Lets explore
        this topic today with some examples.
    </p>

    <p class="justified-content">
        Consider that you have to Desing a new Micro-Service and you are asked to consume a downstream Micro-Service
        which is poorly Designed. Obviously with Design I mean API resources and their behaviour. A poor design if
        limited to the backend system is ok but if API resources expose that bad desing then its impacting your Design
        too. Lets take an example that you are designing an E-Commerce platform and there is an Order Management
        Micro-Service which you need to consume for your requirement. Suppose that the APIs desinged by that system are
        like below:
    </p>

    <div align="center">
        <ul class="rest-api-endpoints">
            <li>
                <div>
                    <h4 class="api-method-post">CREATE Order</h4>
                    <span class="api-method-post">POST</span><span class="api-method-post api-url">/orders</span>
                </div>
            </li>
            <li>
                <div>
                    <h4 class="api-method-put">UPDATE Order</h4>
                    <span class="api-method-put">PUT</span><span class="api-method-put api-url">/orders/{OrderId}</span>
                </div>
            </li>
            <li>
                <div>
                    <h4 class="api-method-get">GET Order Details</h4>
                    <span class="api-method-get">GET</span><span class="api-method-get api-url">/orders/{OrderId}</span>
                </div>
            </li>
            <li>
                <div>
                    <h4 class="api-method-get">GET All Orders</h4>
                    <span class="api-method-get">GET</span><span class="api-method-get api-url">/orders/{OrderId}</span>
                </div>
            </li>
        </ul>
    </div>

    <div style="text-align: center;" class="justified-content blog-image-single">
        <img class="round-corner" width="25%" src="images/design-pattern-is-fish/KeepThinking.jpeg"
            alt="FormattableMessage">
        <br />
        <h3>KEEP THINKING !</h3>
    </div>

</div>