<div style="margin-left: 4%">
  <h2>Java</h2>
  <p>
    Java is my favourite language of Software Development. Its not because I have spent more
    time writing Java Code but it is a commercial language which is a perfect blend between
    readability and declarative approach. I have written code in other languages like Scala,
    Groovy, Javascript, etc. but they did not have the readability and maintainability aspect.
    In true sense Java is the only language I know so far which clearly shows what the code is
    trying to achieve. In this section you will get to know the language better and design a better
    object oriented code using Java.
  </p>
</div>

<div class="content-area">
  <md-card class="topic-card" ng-repeat="topic in topics" ng-click="loadPage(topic.route)" md-theme="default"
    md-theme-watch>
    <md-card-title layout="column">
      <md-card-title-text class="topic-card-title">
        <span class="md-headline">{{topic.heading}}</span>
        <span class="md-subhead">{{topic.subHeading}}</span>
      </md-card-title-text>
      <md-card-title-media>
        <div class="md-media-lg card-media">
          <img ng-src="images/{{topic.imageUrl}}" alt="{{topic.imageUrl}}">
          <span class="picture-credits-small">{{topic.imageCredits}}</span>
        </div>
      </md-card-title-media>
    </md-card-title>
  </md-card>
</div>