<div class="content-area">
  <h3>Introduction</h3>
  <p>
    Object oriented programming is a paradigm which helps in dividing the complex
    problems into small components and assembling them to provide complete solution.
    We tend to objectify everything. Similar to Mechanical, Civil and Electrical
    field of Engineering even Software Engineering is all about creating reusable
    Software components which we can assemble together to create a big software.
  </p>
  <div align="center">
    <img src="images/workspace.jpg" width="50%" alt="Workspace">
  </div>
  <h3>Object Modelling</h3>
  <p>
    How to divide a big problem into smaller pieces ? Every problem has set of
    entities around which the problem is modelled. Identify the entities involved
    in the use case. Identify the relationship between the entities involved. What
    attributes are available to model the entity. Java models objects based on attributes
    and behaviour. Object state is defined by the attributes. Understand which
    attributes are mutable and which are immutable. Behaviour helps in encapsulating
    the object state. Behaviour are defined via methods. The methods of the object
    should encapsulate the logic, which may or may not depend on the state of the
    object, but that should be belonging to the object if its related to it.
  </p>
</div>
