<div class="content-area">
    <h3>Introduction</h3>
    <p>
      Object oriented programming is a paradigm which helps in dividing the complex
      problems into small components and assembling them to provide complete solution.
      We tend to objectify everything. Similar to Mechanical, Civil and Electrical
      field of Engineering even Software Engineering is all about creating reusable
      Software components which we can assemble together to create a big software.
    </p>
  <div layout="row" layout-xs="column">
    <div flex-gt-sm="60" flex="100" flex-order-xs="2">
      <p>
        Object oriented programming is suitable for use cases wherein you need to
        develop and manage a complex application. We can understand objects and their
        relationships. Broadly we divide the application objects into two categories:
        REAL & META. Real objects for mapping the real world entities and META objects
        for modelling our application code for effective understanding and managing.
      </p>
      <h3>Application</h3>
      <p>
        Object oriented programming is applicable when you want to manage a huge
        and complex software. In the olden days when the procedural programming
        was popular, the issue was that an increase in the software size made it
        unmanageable. Moreover the code was difficult to understand and change.
      </p>

    </div>
    <div flex-offset="5" flex-order-xs="1">
      <img src="images/workspace.jpg" width="100%" alt="Workspace">
    </div>
  </div>
  <div layout="column" layout-xs="column">
    <p>
      Hence object oriented programming was born. However in today's world where
      big data and cloud is popular the main problem is processing and managing
      huge data. The typical use case for this is functional programming paradigm.
      Now the question is in the current world is there still a need of Object
      Oriented Programming ? The answer is 'yes'. Whenever you want to automate
      any CRUD operations be it for an E-Commerce customer or a telecom operator,etc.
      All the use cases which capture and store data and make it available to the
      consumer or user via some interface like Web,UI or REST api are suitable
      for Object Oriented Programming.
    </p>
    <h3>Conclusion</h3>
    <p>
      Object oriented programming thought process is all about thinking in terms
      of objects. Following SOLID design principles while designing your application.
      We will be learning through the series of tutorials how to achieve this.
    </p>
  </div>
</div>
